# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# Spring Boot secrets/config
backend/workflow/src/main/resources/application.properties